
# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Environments
env/
venv/
*.env

# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Static/GeoIP Data
/static/data/GeoLite2-Country.mmdb
